.comoFunciona {
    background-image: url(../recursos/camiongris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;

    &__titulo {
        color: $colorPrincipal;
        font-size: 2em;
        background-color: $colorFondoTitulosClaro;
        width: 90%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        margin-top: 100px;
    }

    &__video {
        border-radius: 5px;
        border: $colorPrincipal solid 2px;
    }
}

    .timeline-content .date {
        position: absolute;
        top: -30px;
    }

    .timeline ul li:hover::before {
        background-color: $colorPrincipal;
    }
