.comoFunciona {
    background-image: url(../recursos/camiongris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;

    &__titulo {
        @extend .quienesSomos__h2;
        background-color: $colorFondoTitulosClaro;
        margin-top: 100px;
    }

    &__video {
        border-radius: map-get($bordes, redondeo);
        border: $colorPrincipal solid map-get($bordes, fino);
    }
}

    .timeline-content .date {
        position: absolute;
        top: -30px;
    }

    .timeline ul li:hover::before {
        background-color: $colorPrincipal;
    }
