.contacto {
    background-image: url(../recursos/fondoNuestroServicio.svg);
    background-size: cover;

&__formularioContacto {
    padding: 10px;
    display: grid;
    row-gap: 5px;
    min-height: 100vh;

&__titulo {
    color: $colorPrincipal;
    font-size: 2em;
    background-color: $colorFondoTitulosClaro;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 100px;
}

&__btn {
    color: #fff;
    font-size: x-large;
    margin: 5px;}}}