@media only screen and (min-width: 0px) {
    .pagina1 {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: right;
        color: #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.452)), url(../Recursos/imagenfondo.jpg);
        @include flex-row-wrap-center-justifysa;

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 30px;
            margin-top: 100px;
            border: solid map-get($bordes, grueso);
            border-radius: 20px;
        }

        &__h1 {
            line-height: 1.5em;
            text-align: center;
            color: $colorPrincipal;
        }

        &__p {
            line-height: 2em;
            text-align: center;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .actbtn {
        height: 60px;
        width: 120px;
        border-radius: 15px;
        border: solid map-get($bordes, medio) whitesmoke;
        background-color: $colorPrincipal;
        color: #ffffff;
        cursor: pointer;
        padding: 5px 10px;
    }

    .nuestroServicio {
        min-height: 90vh;
        background-image: url(../Recursos/fondoNuestroServicio.svg);
        background-position: center;
        background-size: cover;

        & h2 {
            padding-top: 20px;
            font-weight: bolder;
            color: $colorSecundarioTransparente;
        }

        & h4 {
            padding: 30px;
            background-color: $colorSecundarioTransparente;
            text-align: center;
            color: #fff;
            border-radius: map-get($bordes, redondeo);
        }
    }

    .card {
        margin: 20px;
        text-align: center;
        color: #ffffff;
        background-color: $colorSecundarioTransparente !important;
    }

    .nuestroServicio .card img {
        margin-top: 10px;
        filter: grayscale(1);
    }

    .card p span {
        color: $colorPrincipal;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .card__button {
        background-color: #0070FF;
        color: #fff;
        border-color: #fff;
    }


}

@media only screen and (min-width: 576px) {

    .pagina1__h1 {
        font-size: 2em;
    }

    .pagina1__p {
        font-size: 1em;
    }

    .actbtn {
        font-size: 1.5em;
        height: 100px;
        width: 180px;
    }
}

@media only screen and (min-width: 768px) {

    .pagina1__right {
        width: 50%;
        margin-top: 0%;
    }

    .pagina1__h1 {
        font-size: 2em;
    }

    .pagina1__p {
        font-size: 1em;
    }

    .actbtn {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 992px) {

    .pagina1__right {
        width: 50%;
    }

    .pagina1__h1 {
        font-size: 3em;
    }

    .pagina1__p {
        font-size: 1.5em;
    }

    .pagina1__btn {
        width: 40%;
    }

    .actbtn {
        font-size: 2em;
        width: 220px;
        ;
    }
}