.preguntasFrecuentes__body {
    width: 100%;
    background-image: url(../recursos/fondoNuestroServicio.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.preguntasFrecuentes {
    width: 90%;
    margin-top: 120px;
    margin-bottom: 20px;


    &__titulo {
        text-align: center;
        color: white;
        font-size: 2em;
        background-color: $colorPrincipal;
        width: 100%;
        border-radius: map-get($bordes, redondeo);
    }

    & h3 {
        padding: 10px;
        margin-top: 20px;
        background-image: linear-gradient(to right, $colorSecundario, #fff);
        color: $colorPrincipal;
        border-radius: map-get($bordes, redondeo);
    }
}

.accordion-button {
    font-weight: bolder;
}

.accordion-button:not(.colapsed) {
    color: whitesmoke;
    background-color: $colorSecundario;
}

.accordion-button:not(.colapsed)::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:focus {
    box-shadow: inherit;
}