@media only screen and (min-width: 0px) {
    
    .quienesSomos {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        background-image: url(../recursos/ruta.jpg);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        &__h2 {
            color: $colorPrincipal;
            font-size: 2em;
            background-color: $colorSecundarioTransparente;
            width: 90%;
            text-align: center;
            border-radius: 5px;
        }

        &__p {
            color: #fff;
            font-size: 0.8em;
            padding: 0 30px;
            text-align: center;
            background-color: $colorSecundarioTransparente;
            width: 90%;
            border-radius: 5px;
        }
    }

    .porQueElegirnos {
        width: 100%;
        min-height: 90vh;
        background-size: cover;
        background-image: url(../recursos/fondoNuestroServicio.svg);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        &__h2 {
            color: $colorPrincipal;
            font-size: 2em;
            background-color: #ffffffc0;
            width: 90%;
            text-align: center;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width: 576px) {

    .quienesSomos__p {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {

    .quienesSomos__p {
        font-size: 1.2em;
    }
}