@media only screen and (min-width: 0px) {

    .quienesSomos {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom;
        background-image: url(../recursos/ruta.jpg);
        @include flex-row-wrap-center-justifysa;

        &__h2 {
            color: $colorPrincipal;
            font-size: 2em;
            background-color: $colorSecundarioTransparente;
            width: 90%;
            text-align: center;
            border-radius: map-get($bordes, redondeo);
        }

        &__p {
            color: #fff;
            font-size: 0.8em;
            padding: 0 30px;
            text-align: center;
            background-color: $colorSecundarioTransparente;
            width: 90%;
            border-radius: map-get($bordes, redondeo);
        }
    }

    .porQueElegirnos {
        width: 100%;
        min-height: 90vh;
        background-size: cover;
        background-image: url(../recursos/fondoNuestroServicio.svg);
        @include flex-row-wrap-center-justifysa;
    

    &__h2 {
        @extend .quienesSomos__h2;
        background-color: #ffffffc0;
        border-radius: map-get($bordes, redondeo);
        margin-top: 20px;
    }
}
}



@media only screen and (min-width: 576px) {

    .quienesSomos__p {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {

    .quienesSomos__p {
        font-size: 1.2em;
    }
}