.footer {
    height: 20%;
    background-color: $colorSecundarioTransparente;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: x-small;
    padding: 10px 10px;
}

.footer__btn button {
    border-radius: map-get($bordes, redondeo) ;
    border: solid map-get($bordes, fino) whitesmoke;
    background-color: $colorPrincipal;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;

}

.logos {
    color: $colorPrincipal;
    padding: 5px;
    font-size: 20px;
}

.logos:hover {
    color: #fff;
}

@media only screen and (min-width: 576px) {

    .footer {
        font-size: medium;
        padding: 10px 10px;
    }

    .logos {
        color: $colorPrincipal;
        padding: 5px;
        font-size: 25px;
    }
}