.navbar {
    background-color: $colorSecundarioTransparente !important;
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
    --bs-navbar-toggler-font-size: 1.5rem;
    --bs-navbar-toggler-padding-y: 0.5rem;
    --bs-navbar-toggler-focus-width: 0rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: solid 2px $colorPrincipal;
}

.nav__btn {
    width: 80%;
    font-size: xx-small;
    color: white;
    background-color: $colorPrincipal;
    margin: 3px;
}

.nav__textobtn {
    display: none;
}

.nav-link {
    color: $colorPrincipal !important;
    font-size: x-large;
}

.offcanvas-title{
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (min-width: 576px) {

    .nav__btn {
        font-size: xx-small;
    }
}

@media only screen and (min-width: 768px) {

    .nav__textobtn {
        display: inline;
        color: $colorPrincipal;
        font-size: x-large;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        --bs-navbar-toggler-font-size: 1.5rem;
    }
}